.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  min-height: 100vh;
  padding: 5px;
  background-color: #e2e2e2;
}